@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    background-color: #1e1e1e;
    background-image: url(../assets/wallpaper.jpg);
}

h1{
    text-align: center;
    color: white;
    text-shadow: -2px 2px 4px #000;
    font-family: Roboto, sans-serif;
}

#regions{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.region-box{
    width: 400px;
    height: 300px;
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#kanto-box{
    background-color: yellow;
}

#johto-box{
    background-color: gold;
}

#hoenn-box{
    background-color: green;
    
}

#sinnoh-box{
    background-color: blueviolet;
}

#unova-box{
    background-color: white;
}

#kalos-box{
    background-color: aqua;
}

#alola-box{
    background-color: purple;
}

#galar-box{
    background-color: red;
}

#paldea-box{
    background-color: pink;
}

#national-box{
    width: 1200px; /* Set width to 400px */
    height: 900px; /* Set height to 300px */
    background-color: orange; /* Optional: add a background color */
    margin: 0 auto; /* Center horizontally and add space above */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-decoration: none; /* Remove underline */
    font-family: Arial, sans-serif;
    font-size: 32px;
}