@font-face{
    font-family: Playwright;
    src: url(../fonts/PlaywriteNZ-VariableFont_wght.ttf);
}

body{
    background-color: #1e1e1e;
    margin: 0;
}

.main-header{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.pokemon-logo{
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.pokemon-logo img{
    height: 50px;
    align-self: center;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: Playwright;
    color: black;
}

.navbar ul li a:hover{
    color: #c13584;
}

#team-box{
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

#pokemon-container{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-box{
    width: 400px;
    height: 300px;
}

#member-one{
    background-color: green;

}

#member-two{
    background-color: yellow;
}

#member-three{
    background-color: red;
}

#member-four{
    background-color: purple;
}

#member-five{
    background-color:blue;
}

#member-six{
    background-color: pink;
}

#options{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
}

.member-img{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 30px auto 10px;
}

.member-img img{
    width: 200px;
    height: 200px;
}

.pokemon-name{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-boxes{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#starter-pokemon{
    background-color: palegreen;
}

#generate-box{
    background-color: tan;
}

#legendary-box{
    background-color: lightblue;
}






